@using WebMatrix.Data
@{
    var title = "";
    var genre = "";
    var year = "";
    var userID = "";

    if (IsPost)
    {
        title = Request.Form["title"];
        genre = Request.Form["genre"];
        year = Request.Form["year"];
        userID = System.Web.HttpContext.Current.User.Identity.Name + "-" + year;

        var db = Database.Open("DefaultConnection");
        var insertCommand = "INSERT INTO HeartBeatData (USERID, AvgHeartBeat, StepsTaken, DateNTime) Values(@0, @1, @2, @3)";
        db.Execute(insertCommand, userID, title, genre, year);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Enter your data</title>
</head>
<body>
    <h1>Enter your data</h1>
    <form method="post">
        <fieldset>
            <legend>Movie Information</legend>
            <p>
                <label for="Average Heart Beat">Average Heart Beat:</label>
                <input type="text" name="title" value="@Request.Form["title"]" />
            </p>

            <p>
                <label for="Steps Taken">Steps Taken:</label>
                <input type="text" name="genre" value="@Request.Form["genre"]" />
            </p>

            <p>
                <label for="Date (MM/DD/YYYY)">Date (MM/DD/YYYY) ##:## (24:00 clock):</label>
                <input type="text" name="year" value="@Request.Form["year"]" />
            </p>

            <p><input type="submit" name="buttonSubmit" value="Enter Data" /></p>
        </fieldset>
    </form>
</body>
</html>